<div style="float: right; width: 240px;">
    <div id="actionsContainer" style="margin-left: 15px">
        <div id="actions" style="margin-left: 0px; width: 200px">
            <div style="text-align: center" id="actionsTitle">
                Recent Tags</div>
            <div class="actionsContent"  style="width: 190px">
               <div class="">
                    <div id="recentTags">
                    </div>
                    <div style="clear: both">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="actionsContainer" style="margin-left: 15px">
        <div id="actions" style="margin-left: 0px; width: 200px">
            <div style="text-align: center" id="actionsTitle">
                Friends</div>
            <div class="actionsContent"  style="width: 190px">
                <div style="margin-top: 10px; font-weight: bold">
                    <a href="http://www.rrbayview.com/">R & R Bayview Resort </a>
                </div>
                <div style="margin-top: 5px">
                    10630 W. Twin Bay Road</div>
                <div style="margin-top: 5px">
                    Hayward, WI 54843</div>
                <div style="margin-top: 5px">
                   (800) 469-8888</div>
                <div style="margin-top: 10px; font-weight: bold">
                    <a href="http://www.elkrivercustomrods.com/">Elk River Custom Rods </a>
                </div>
                <div style="margin-top: 5px">
                    105 North. Lake Ave.</div>
                <div style="margin-top: 5px">
                    Phillips, WI 54555</div>
                <div style="margin-top: 5px">
                    (715) 339-4209</div>
            </div>
        </div>
    </div>
    <div id="actionsContainer" style="margin-left: 15px">
        <div id="actions" style="margin-left: 0px; width: 200px">
      @*      <div style="text-align: center" id="actionsTitle">
                Links</div>*@
            <div class="actionsContent" style="padding:0px;width: 200px">
                <div style="padding: 0px">
                    <script type="text/javascript">
<!--
                        google_ad_client = "ca-pub-5414629779975796";
                        /* Deano1 */
                        google_ad_slot = "4247016196";
                        google_ad_width = 200;
                        google_ad_height = 200;
//-->
                    </script>
                    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
