/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*//* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}


.watermark
{
	color: #666;
}


img
{
	border: 0px;
}


a
{
	color: Black;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
	color: #000000;
}

body
{
	background-color: black;
	font-size: 75%;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}

.page
{
}

#header
{
	height: 165px;
}

#header h1
{
	font-weight: bold;
	padding: 5px 0;
	margin: 0;
	color: #fff;
	border: none;
	line-height: 2em;
	font-size: 32px !important;
}

#main
{
	background: #789059;
	margin-top: 15px;
	padding-bottom: 15px;
	_height: 1px; /* only IE6 applies CSS properties starting with an underscore */
	min-height: 800px;
}

#mainContent
{
	margin-left: auto;
	margin-right: auto;
	width: 1012px;
}

#rightWalleyesContainer
{
	padding-top: 15px;
	width: 700px;
	float: right;
	margin-right: 22px;
}

#walleyesContainer
{
	padding-top: 15px;
	width: 700px;
	float: left;
}

#walleyesTitle
{
	font-size: 12pt;
	margin-left: 15px;
	margin-bottom: 5px;
}
#walleyes
{
	background-color: #789059;
	border: 6px solid #ddd;
	padding: 6px;
	padding-top: 5px;
	width: 700px;
}

#walleyesContent
{
	background-color: #eee;
	width: 690px;
	padding: 10px 0px 10px 10px;
}


#leftActionsContainer
{
	padding-top: 15px;
	float: left;
	margin-left: 0px;
}
#leftActions
{
	margin-right: 0px;
	background-color: #789059;
	border: 6px solid #ddd;
	padding: 6px;
	padding-top: 5px;
	width: 248px;
}
#actionsContainer
{
	padding-top: 15px;
	margin-left: 25px;
}

#actionsTitle
{
	font-size: 12pt;
	margin-bottom: 5px;
}
#actions
{
	margin-left: 14px;
	background-color: #789059;
	border: 6px solid #ddd;
	padding: 6px;
	padding-top: 5px;
	width: 248px;
}

.actionsContent
{
	background-color: #eee;
	width: 239px;
	padding: 10px 0px 10px 10px;
}

#footer
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	color: #789059;
}

#footer a
{
	color: #789059;
}

#catalog
{
	padding-top: 3px;
}

#pager
{
	width: auto;
	text-align: center;
	height: 25px;
}

#pager div
{
	padding-top: 2px;
}

#pager .page
{
	float: left;
	background-color: #1C2172;
	height: 20px;
	width: 25px;
	margin: 0px 0px 0px 3px;
}

#pager *a 
{
    color:White;
}

#pager .selectedPage
{
	float: left;
	background: #324E9C;
	font-weight: bold;
	height: 20px;
	width: 25px;
	margin: 0px 0px 0px 3px;
}

#pager .page:hover
{
	float: left;
	background: #b5c89e;
	height: 20px;
	width: 25px;
	margin: 0px 0px 0px 3px;
}


#left
{
	width: 319px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float: left;
	background: url(images/tit.png) left 28px repeat-x;
}

#left .list
{
	list-style: none;
	padding-left: 31px;
	padding-top: 5px;
	margin: 0px;
	display: block;
	background: url(images/fish.png) 6px 4px no-repeat;
}

#center
{
	float: left;
	padding: 0px 0px 0px 0px;
	width: 631px;
	background: transparent url(images/but_razd.jpg) no-repeat scroll right center;
	margin: 0px 0px 0px 11px;
	height: 30px;
}

#centerContent
{
	float: left;
	padding: 0px 0px 0px 0px;
	width: 631px;
	margin: 0px 0px 0px 11px;
	min-height: 400px;
}

#center3
{
	float: left;
	padding: 0px 0px 0px 0px;
	width: 961px;
	background: url(images/tit.png) left 28px repeat-x;
	margin: 0px 0px 0px 11px;
	min-height: 400px;
}

#center2
{
	float: left;
	padding: 14px 0px 0px 0px;
	width: 631px;
	background: url(images/tit.png) repeat-x;
	background-position: 0px 0px;
	margin: 0px 0px 0px 11px;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 28px;
	border-bottom: 1px solid black;
}

#content2
{
	width: 631px;
	float: right;
}

#accountContent
{
	width: 611px;
	margin-right: 10px;
	padding: 0px 10px 0px 10px;
}

#accountContent2
{
	width: 611px;
	margin-right: 10px;
	padding: 0px 10px 0px 10px;
}

.text
{
	padding: 5px 4px 0px 7px;
}

.text2
{
	margin-top: 15px;
	padding: 7px 4px 0px 7px;
}

.color
{
	color: #347818;
}

.editorLabel
{
	color: #347818;
}

.dot
{
	background: url(images/dot.gif) center repeat-x;
	height: 20px;
}

.dat
{
	text-decoration: underline;
}

H1
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #354905;
	padding-bottom: 30px;
	padding-left: 7px;
	padding-top: 5px;
	text-align: center;
}

.label
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #354905;
	padding-left: 7px;
	padding-top: 5px;
	text-align: right;
	width: 150px;
	float: left;
}

.field
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-left: 20px;
	padding-top: 5px;
	float: left;
}

input
{
}

textarea
{
}

.checkbox
{
	background-color: transparent;
	width: 20px;
}


.inputTableCell
{
	width: 160px;
}

.credentials
{
	width: 130px;
}

.nameValue
{
	clear: both;
}

H2
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #354905;
	padding-bottom: 28px;
	padding-left: 7px;
	padding-top: 5px;
	text-align: center;
}

H3
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #354905;
	padding-bottom: 35px;
	padding-left: 7px;
	padding-top: 5px;
	text-align: center;
}

H4
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	margin-top: 7px;
	color: #354905;
	padding-bottom: 5px;
	text-align: center;
	float: right;
	width: 600px;
}

.read
{
	text-align: right;
	padding-right: 0px;
	padding-top: 4px;
}
.read_top
{
	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
}

.right
{
	float: right;
	width: 319px;
	padding-right: 0px;
	background: url(images/tit.png) left 28px repeat-x;
}



.right ul
{
	list-style: none;
	padding-left: 0px;
	padding-top: 0px;
	margin: 0px;
	display: block;
	padding-bottom: 0px;
}

.right li
{
	padding-top: 5px;
	background: url(images/fish.png) 6px 4px no-repeat;
	padding-left: 36px;
}




#left2
{
	width: 319px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float: left;
}

.panelBarHeader
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-left: 5px;
	padding-right: 20px;
	padding-top: 0px;
	color: #354905;
	padding-bottom: 3px;
}
.panelBarItem
{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	padding-top: 5px;
	text-align: left;
	background-color: #354905;
}

.panelBarSubItem
{
	text-align: left;
	font-size: 14px;
	height: 30px;
	padding-left: 15px;
	padding-top: 4px;
	margin-right: 9px;
	text-decoration: underline;
	background: url(images/deanobuttonbig.png) repeat-x;
}
.panelBarSubItem:hover
{
	text-align: left;
	font-size: 14px;
	height: 30px;
	padding-left: 15px;
	padding-top: 4px;
	margin-right: 9px;
	text-decoration: underline;
	background: url(images/deanobuttonbighover.png) repeat-x;
}
.panelBarSubItem a
{
	color: black;
}
.SearchText
{
	width: 170px;
	margin-bottom: 1px;
}

.commands
{
	margin-top: 5px;
}

.title
{
	text-align: center;
	color: #354905;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-top: 5px;
}

.post
{
	padding: 0px 4px 10px 7px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.thread
{
	padding: 7px 4px 10px 7px;
	height: 40px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.threadTitle
{
	color: #354905;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.threadAuthor
{
	color: #354905;
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 10px;
}
#makeMeScrollable
{
	width: 600px;
	height: 330px;
	position: relative;
}

#makeMeScrollable div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0; /* If you don't want the images in the scroller to be selectable, try the following 			   block of code. It's just a nice feature that prevent the images from 			   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


#menu
{
	position: relative;
	margin: 0;
	height: 50px;
	width: 700px;
	float: right;
}

#menu .button
{
	float: left;
	width: 100px;
	height: 27px;
	padding-top: 7px;
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	background: url(images/deanobutton.png);
}

#menu .buttonSelected
{
	float: left;
	width: 100px;
	height: 27px;
	padding-top: 7px;
	text-align: center;
	font-size: 12pt;
	text-decoration: none;
	background: #AFC88e;
}

#menu .button:hover
{
	float: left;
	width: 100px;
	height: 30px;
	padding-top: 11px;
	margin-top: -4px;
	text-align: center;
	font-size: 12pt;
	text-decoration: underline;
	background: url(images/deanobuttonhover.png);
}


.buttonsMap
{
	margin-bottom: 10px;
}
.buttonMap
{
	float: left;
	width: 80px;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	font-size: 10pt;
	text-decoration: none;
	margin-right: 5px;
	background: url(images/deanobutton.png);
}

.buttonMap a
{
	text-decoration: underline;
}
.buttonMap:hover
{
	float: left;
	cursor: pointer;
	width: 80px;
	height: 22px;
	padding-top: 3px;
	text-align: center;
	font-size: 10pt;
	text-decoration: underline;
	background: url(images/deanobuttonhover.png);
}

.button a
{
	text-align: center;
	color: white;
}

.button a:hover
{
	text-align: center;
}

div#title
{
	color: black;
	background: white;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 1000px;
	height: 150px;
	border: 6px solid #8F8C8F;
}

.editorField
{
	margin-bottom: 3px;
}

.secured
{
	display: none;
}

.securedAdmin
{
	display: none;
}
