<div class="text">
    <span class="color">Grandma's Recipe for Walleye</span>
    <br />
    Morbi adipiscing velit convallis purus gravida eu semper urna tristique. Class aptent
    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
    quis neque lectus, vitae consequat urna. Ves-tibulum ac elementum tellus. Vivamus
    faucibus cursus...</div>
<div class="commands">
    <button type="button" onclick="loadCreatePost(-1,4)" class="t-button">
        Reply</button>
    <button class="t-button" onclick="unloadPosts(4)">
        Back</button>
</div>
<div class="text">
    <span class="color">Dad's Recipe for Walleye</span>
    <br />
    Vestibulum ipsum mauris, fermentum vel condimentum at, accumsan sit amet eros. Lorem
    ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend tincidunt
    facilisis. Nullam consequat, magna eget congue...
</div>
<div class="commands">
    <button type="submit" class="t-button">
        Reply</button>
    <button class="t-button" onclick="unloadPosts(4)">
        Back</button>
</div>
<div class="text">
    <span class="color">Mike's Recipe for Walleye</span>
    <br />
    Aenean sit amet quam tempor est pharetra dapibus sed ut metus. Nunc pulvinar mollis
    felis, eget ullamcorper eros rutrum rutrum. Sed non lacus a augue hendrerit mattis.
    Sed sagittis fermentum mi, id euismod urna...
</div>
