@{
    Layout = "";
}
<div id="walleyesTitle">
    Message Received</div>
<div id="walleyesContent">
    Your message has been sent to Deano. For more information give him a call
    at (715) 558-8732.
</div>
