<img style="float: right; margin-left: 15px;" src="../../Content/images/deano.jpg" />
<p>
    Dean spends the the fishing season at R&R Bayview Resort on the vast waters of the
    Chippewa Flowage. He's been fishing the Chippewa Flowage since a young age, and
    has spent the past 11 summers fishing the Chippewa Flowage exclusively.
</p>
<p>
    Dean's species of choice is Walleye, but he also fishes for Crappies, Bluegill,
    Perch, Largemouth & Smallmouth Bass, Northern Pike and Muskellunge. He is a licensed
    guide and will teach you how to locate good walleye spots and show you techniques
    that will help you to learn how to fish Walleyes on the Chip.
</p>
<p>
    All you need to bring is your fishing license, camera and what you want to drink/eat
    on the boat and live bait. Dean will provide all of the tackle, gear and will clean
    your catch for you at the end of the day.
</p>
<p>
    Dean fishes out of a Lund Pro V 1800 with a 90 hp Mercury or for larger groups/special
    needs he has a 24 foot Northwoods Pontoon with a 120 HP Evinrude. The pontoon has
    a Bimini top for shade and rain protection. Dean is on the Elk River Custom Rod
    prostaff and his equipment is Elk River Custom Rods.</p>
