@{
    Layout = "~/Views/Shared/_LayoutBlue.cshtml";
}
<div id="walleyesContainer">
    <div id="walleyes">
        <div id="walleyesTitle">
            Walleyes on the Chip...</div>
        <div id="walleyesContent">
            @Html.Partial("Deano")
        </div>
    </div>
</div>
<div id="actionsContainer">
    <div id="actions">
        <div style="text-align:center" id="actionsTitle">
            Sponsors</div>
        <div id="actionsContent">
            <div style="margin-top: 10px; font-weight: bold">
                Elk River Custom Rods</div>
            <div style="margin-top: 5px">
                1234 Count Rd CC</div>
            <div style="margin-top: 5px">
                Hayward, WI 12345</div>
            <div style="margin-top: 10px; font-weight: bold">
                Elk River Custom Rods</div>
            <div style="margin-top: 5px">
                1234 Count Rd CC</div>
            <div style="margin-top: 5px">
                Hayward, WI 12345</div>
        </div>
    </div>

</div>
<div style="clear:both"></div>
<div id="walleyesContainer">
    <div id="walleyes">
        <div id="walleyesTitle">
            Current Guide Rates</div>
        <div id="walleyesContent">
            @Html.Partial("Rates")
        </div>
    </div>
</div>