
<h1 style="float: left; text-align: left; width: 600px">
    Local Events
</h1>
<div style="clear: both">
</div>
<div class="text">
    <span class="color">See what's happening in Hayward</span>
    <br />
</div>
<br />
