<span class="">Dean offers guided fishing trips on the Chippewa Flowage from May through October 15th</span>
<br />
<ul>
  <li>Full Day Guided Fishing Trip - 8 hours on the water : $425 for 2 people</li>
    <li>Half Day Guided Fishing Trip - 4 hours on the water : $325 for 2 people</li>
    <li>Ice fishing packages available. Call for Details and availability.</li>
    <li>$50 for each additional person</li>
    <li>Sales tax is not included in prices above</li>
    <li>Accepts cash, check or credit card.</li>
</ul>
<div style="margin-top: 10px">
    Dean will provide you with a great day on the water and the knowledge you need to
    target Walleyes on the Chip like a pro. All you need to bring is your fishing license, 
    camera and what you want to drink/eat on the boat. Dean will provide all of the tackle, 
    gear and bait and will clean your catch for you at the end of the day.
</div>
<div style="margin-top: 10px; width:150px" class="buttonMap">
    <a style="text-decoration: underline" href="/Home/fishing-guide-request">Guided Fishing Trip</a></div>
<div style="clear: both">
</div>
