<h1 style="float: left; text-align: left; width: 600px">
    Sponsor's
</h1>
<div style="clear: both">
</div>
<div class="text">
    <span class="color">Sisko's Pine Resort & Campground</span>
    <br />
    <div>
        <div>
            <img style="float: right; width: 400px" src="../../Content/images/siskos.jpg" />
            <div>
                8677 N. County Rd CC
            </div>
            <div>
                Hayward, Wisconsin 54843-7689
            </div>
            <div>
                Phone: 715-462-3700</div>
        </div>
    </div>
</div>
<br />
